[Unit]
Description=Run sport lottery predictor updater every 3 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=3min
Persistent=true
Unit=sport-lottery-update.service

[Install]
WantedBy=timers.target
