[Unit]
Description=Run sport lottery predictor updater every 2 hours

[Timer]
OnCalendar=*-*-* 18:00:00
OnUnitActiveSec=2h
Persistent=true
Unit=sport-lottery-update.service

[Install]
WantedBy=timers.target
